*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  margin: 8px 0 8px 0;
  position: relative;
}

#logo {  height:4vh;  display: flex; align-items: center;  justify-content: center;}

#pantalla{ height: 36vh; padding:1vh;}


.boton {

  border-radius: 5px 15px;
  border: solid 1px black;
  padding: 5px;
  border: dashed 1px white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.boton_datos_no_obligatirios {
  background-color: #D9D9D9;
}

.boton:hover {

  color: red;
  border: solid 1px rgb(255, 2, 2);
  font-size: 102%;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(224, 6, 126, 0.3);

}


.botones_pie {
  height: 5vh;
  transition: filter 0.3s;
}

.botones_pie:hover,
.botones_pie:active {
  cursor: pointer;
  filter: invert(1);
}