/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  #contenedor_calendario {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .titulo,
  .day {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    box-sizing: border-box;
    padding: 1px;
    text-align: center;
    font-size: 1.2vw;
  }
  
  .titulo {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
  }
  
  .day {
    flex: 1 0 calc(90% / var(--diviciones));
  }
  
  @media screen and (max-width: 300px) {
    .titulo, .day {
      flex: 0 0 100%;
      font-size: 1vw;
    }
  }
  





  /*============================= EJEMPLOS =======================================  */

  #Pagos_15_1_2024,
  #Pagos_8_1_2024,
  #Pagos_20_1_2024,
  #Po_Guill_28_1_2024,
  #Casa_28_1_2024 {
    background-color: red;
    background-size: contain; /* La imagen se ajustará al div sin salirse */
    background-position: center; /* Opcional: posición de la imagen en el div */
    background-repeat: no-repeat; /* Opcional: evita que la imagen se repita si el div es más grande que la imagen */
  }
  
  #Casa_28_1_2024 {
    background-color:white;
    background-image: url('https://cdn-icons-png.flaticon.com/128/115/115902.png');
  }
  
  #Po_Guill_28_1_2024 {
    background-color:white;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlM1v-YYeXGM4CL4r-JdkTkmnYoGoMtjsn8PrvP3IDti1MnsQqOIx3R57vbGnz0VTpRjI&usqp=CAU'); /* Ruta de la imagen SVG */
    
  }

  
  #Pagos_15_1_2024 {
    background-color:white;
         
    background-image:url('https://cdn-icons-png.flaticon.com/128/2769/2769402.png');}
  


/*============================= FIN EJEMPLOS =======================================  */


/*============================= VENTANA EMERGENTE =======================================  */

    .contenedor {
      width: 200px;
      height: 100px;
      background-color: lightblue;
      text-align: center;
      padding: 20px;
      cursor: pointer;
    }
    
    .ventana {
      display: none;
      position: fixed;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 4px;
      z-index: 9999;
      opacity: 0.9;
    }
    
    .contenido {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
    }
    
    .cerrar {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    

    /*============================= FIN  VENTANA EMERGENTE =======================================  */